img {
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

header {
    background-color: lightblue;
}
footer {
    background-color: lightblue;
}

h1 {
    color: black;
}
p {
    color:black;
}
li {
    display: inline;
}