img {
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
li {
    display: inline;
}
li {
    float: left;
}
a { 
    display: block;
    padding: 8px;
    background-color: white;
}
ul {
    background-color: black;
}