img {
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

header {
    background-color: blue;
}
footer {
    background-color: blue;
}