body {
    background-color: lightblue;
}

.btn {
    border: none;
    background-color: cornflowerblue;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}