body {
    background-color: lightblue;
}
image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.btn {
    border left: 100px;
    background-color: cornflowerblue;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    
}

.men {
    background-color: blue;
    color: white;
    text-align: center;
}

.woman {
    background-color: violet;
    color: white;

}

.children {
    background-color: gray;
    color: white;
}