


nav {
    min-height: 30px;
   
}
header, footer, aside {
    min-height: 100px;
}
.home-section {
    min-height: 100px;
}
nav {grid-area: nav; }
.headernav {grid-area: nav1;}
.headernav2 {grid-area: nav2;}
header {grid-area: header; }
main {grid-area: main; }
.home-section:nth-child(1){grid-area: home-section-one;}
.home-section:nth-child(2){grid-area: home-section-two;}
.home-section:nth-child(3){grid-area: home-section-three;}
.home-section:nth-child(4){grid-area: home-section-four;}
.home-section:nth-child(5){grid-area: home-section-five;}
.home-section:nth-child(6){grid-area: home-section-six;}
.home-section:nth-child(7){grid-area: home-section-seven;}
aside {grid-area: aside; }
footer {grid-area: footer; }
.payment {grid-area: footer-one;}
.contactus {grid-area: footer-two;}
.info {grid-area: footer-three;}

footer {
    display: grid;
    background: gray;
    grid-gap: 40px;
    grid-template-areas:
    'footer-one footer-two footer-three'

}


body {
    display: grid;
    grid-gap: 10px;
   background-image: url(/images/hikepicture.jpg);
   background-repeat: no-repeat;
   background-size: cover;
    grid-template-areas: 
    'nav nav'
    'header header'
    'main aside'
    'footer footer'
    
}
main {
    display: grid;
    
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas: 
    'home-section-one home-section-two home-section-three'
    'home-section-four home-section-four home-section-four'
    'home-section-five home-section-six home-section-seven'
}
nav {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas:
    'nav1'
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
    padding-bottom: 5px;
 }
 i {
     color: white;
     size: 25px;
     margin-right: auto;
     margin-left: auto;
     padding-left: 20px;
     padding-top: 15px;
     padding-bottom: 17px;
     padding-right: 20px;
     margin-top: auto;
     margin-bottom: auto;
 } 
 
 
 .headernav {
     background-color: gray;
 }
 .headernav a {
     float: left;
     color: lightblue;
     text-align: center;
     text-decoration: none;
     font-size: 25px;
 }
 .headernav a:hover {
     color: white;
     cursor: pointer;
 }
 .dropbutton {
     background-color:lightblue;
     color: white;
     padding: 20px;
     font-size: 15px;
     border: lightblue;
     border-radius: 5%;
 }
 .dropdownmen {
     position: relative;
     display: inline-block;
 }
 .dropdownwomen {
     position: relative;
     display: inline-block;
 }
 .dropdownkids {
     position: relative;
     display: inline-block;
 }
 .dropdownmen-content {
     display: none;
     position: absolute;
     background-color: gray;
     min-width: 160px;
     z-index: 1;
 }
 .dropdownmen-content a {
     color: white;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     font-size: 12px;
     cursor: pointer;
 }
 .dropdownmen-content a:hover {
     background-color: lightblue;
 }
 .dropdownmen:hover .dropdownmen-content {
     display: block;
 }
 .dropdownmen:hover .dropbutton {
     background-color: gray;
 }
 .dropdownwomen-content {
     display: none;
     position: absolute;
     background-color: gray;
     min-width: 160px;
     z-index: 1;
 }
 .dropdownwomen-content a {
     color: white;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     font-size: 12px;
     cursor: pointer;
 }
 .dropdownwomen-content a:hover {
     background-color: lightblue;
 }
 .dropdownwomen:hover .dropdownwomen-content {
     display: block;
 }
 .dropdownwomen:hover .dropbutton {
     background-color: gray;
 }
 .dropdownkids-content {
     display: none;
     position: absolute;
     background-color: gray;
     min-width: 160px;
     z-index: 1;
 }
 .dropdownkids-content a {
     color: white;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     font-size: 12px;
     cursor: pointer;
 }
 .dropdownkids-content a:hover {
     background-color: lightblue;
 }
 .dropdownkids:hover .dropdownkids-content {
     display: block;
 }
 .dropdownkids:hover .dropbutton {
     background-color: gray;
 }
 .headernav2 {
     float: right;
 }
 .payment {
     margin-left: auto;
     margin-right: auto;
     border: none;
 }
     .contactus {
    margin-left: auto;
    margin-right: auto;
    border: none;
 }
 .info {
    margin-left: auto;
    margin-right: auto;
    border: none;
 }
 ul.payment {
     margin-left: auto;
     margin-right: auto;
 }
 ul.info {
     margin-left: auto;
     margin-right: auto;
 }
 ul.contactus {
    margin-left: auto;
    margin-right: auto;
 }
 li {
      list-style: none;
 }
 i.fas.fa-map-pin {
     font-size: 200%;
 }
 i.fab.fa-twitter {
     font-size: 200%;
 }
 i.fas.fa-envelope {
font-size: 200%;
 }
 i.fab.fa-twitter {
    font-size: 200%;
 }
 i.fab.fa-cc-visa {
    font-size: 200%;
 }
 i.fab.fa-cc-mastercard {
    font-size: 200%;
 }
 i.fab.fa-cc-apple-pay {
    font-size: 200%;
 }
 
 
 i.fab.fa-facebook {
    font-size: 200%;
 }
 .info {
     font-style: italic;
     font-weight: bold;
     font-size: 90%;
     text-decoration: white underline;
    
 }
 header {
     display: grid;
 }
 i.fas.fa-sign-in-alt:hover {
     background-color: lightblue;

 }
 i.fas.fa-shopping-cart:hover {
     background-color: lightblue;
 }
 i.fas.fa-home:hover {
     background-color: lightblue;
 }

 .logo {
     background-color: white;
     border-left: 5;
 }